/* Voorbeeld H2, mag later zeker veranderd worden, gewoon checken of het werkt!... */
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0 !important;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

/* homepage */
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 10px;
}

h1 {
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 10px;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tasktype {
    border-radius: 14px;
    padding: 5px;
    margin-bottom: 10px;
    width: 4rem;
    text-align: center;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 14px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TASKS-PAGE */

.titlecontainer-tasks {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #444B6E;
    color: white;
    padding-left: 2rem;
}

.table.task-cards {
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .custom-grid-tasks .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 772px) {
    .custom-grid-tasks .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.userstats-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.scrollarea {
    height: 100px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.table-head {
    width: 50px;
}

.klas-titel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}