@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* COLORS
Dark purple: #3D315B
Dark blue: #444B6E
Dark green: #708B75
Light green: #9AB87A
Yellow: #F8F991
Orange: #FF6F59
Red: #EF3056

// LIGHT PURPLE
Shade lp 1: #9086DC;
Light purple: #7569C3;
Shade lp 3: #6153B0;
Shade lp 4: #514399;

// DARK PURPLE
Shade dp 1: #4C4876;
Shade dp 2: #3C375F;
Dark purple: #302A4F;
Shade dp 4: #282244;
 */

/* Voorbeeld H2, mag later zeker veranderd worden, gewoon checken of het werkt!... */
h1 {
    font-family: 'Oswald';
    font-size: 2.5rem;
    margin: 0 !important;
}

h2 {
    font-family: 'Oswald';
    font-size: 1.5rem;
    margin: 0 !important;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(200, 195, 231, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-size: cover;
    background-attachment: fixed;
}

/* homepage */
.container-home {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans 3', sans-serif;
}


h1 {
    margin: 0 !important;
}

p {
    margin: 0 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.btn.btn-success.mb-2 {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #9AB87A;
    border-color: #9AB87A;
}

.tasks-container-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 14px;
    margin-top: 1rem;
}

.task-list-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
    align-content: space-between;
    flex-wrap: wrap;
}

.tasktype-emblem {
    border-radius: 14px;
    padding: 5px;
    margin-bottom: 10px;
    width: 4rem;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 14px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TASKS-PAGE */

.titlecontainer-tasks {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #444B6E;
    color: white;
    padding-left: 2rem;
}

.table.task-cards {
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .custom-grid-tasks .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 772px) {
    .custom-grid-tasks .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.userstats-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.logo-navbar {
    width: 9rem;
}

.scrollarea {
    height: 100px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.table-head {
    width: 50px;
}

.klas-titel {
    font-family: 'Oswald';
}

.calendar-home {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 16rem;
    height: 17rem;
}

.calendar h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.days-calendar-home {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    text-align: center;
}

.day {
    padding: 5px;
    border-radius: 5px;
}

.today {
    background-color: #2c3e50;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.outer-container-home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 1rem;
}

.salute-container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.page-container {
    padding: 0 5rem;
    box-sizing: border-box;
}

.card {
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}